@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');


.container {
    display: flex;
    justify-content: center;
    width: 65%;
    background: #eee;
    
    font-family: Pyidaungsu !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

@media only screen and (max-width: 770px) {
    .container {
        width: 100%;
    }
}
